{#- Template for admonitions in docstrings.

This template renders admonitions using the `details` HTML element.

Context:
  section (DocstringSectionAdmonition): The section to render.
-#}

<details class="{{ section.style }}" open>
  <summary>{{ section.title|convert_markdown(heading_level, html_id, strip_paragraph=True, autoref_hook=autoref_hook) }}</summary>
  {{ section.contents|convert_markdown(heading_level, html_id, autoref_hook=autoref_hook) }}
</details>