{#- Template for parameters in docstrings.

This template renders attributes in a list format.

Context:
section: The section to render.
heading_level
html_id
autorefs_hook
-#}

<p><span class="doc-section-title">{{ section.title or "Attributes:" }}</span></p>
<ul>
    {% for attribute in section.attributes %}
    <li class="doc-section-item field-body">
        <b><code>{{ attribute.name }}{% if attribute.type %}: {{ attribute.type }} {% endif %}</code></b>
        –
        <div class="doc-md-description">
            {{ attribute.description|convert_markdown(heading_level, html_id, autoref_hook=autoref_hook) }}
        </div>
    </li>
    {% endfor %}
</ul>