{#- Template for parameters in docstrings.

This template renders a list of text.

Context:
description (DescriptionList): The list to render.
heading_level
html_id
autorefs_hook
-#}

<p><span class="doc-section-title">{{ description.title }}:</span></p>
<ul>
    {% for item in description.contents %}
    <li class="doc-section-item field-body">
        {% with description = item %}
        {% include "description.html.jinja" %}
        {% endwith %}
    </li>
    {% endfor %}
</ul>