{#- Template for parameters in docstrings.

This template renders parameters in a list format.

Context:
section: The section to render.
heading_level
html_id
autorefs_hook
-#}

<p>
    <span class="doc-section-title">{{ section.title or "Returns" }}:</span>
    <div class="doc-return-description">
            {{ section.description|convert_markdown(heading_level, html_id, autoref_hook=autoref_hook) }}
    </div>
</p>